// designer please add values for elements
$bg_sidebar_color: #505050;
$bg_admin_color: #690800;
$highlight_color: #f3d83f;
$side_nav_hover: #383838;
$bg_light_grey: #f1eeee;
$bg_footer: #444444;
$bg_content: #f1f1f1;
$bg_header: #fff;
